body {
  min-width: 390px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 24px;
  background-color: #084704;
  --primary-color: #5dae9f;
  --secondary-color:#282627;
  --tertiary-color:#0d672a;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #084704;;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header div {
  display: inline-block;
  background-color: 490073;
  width: 325px;
  text-align: right;
  padding-right: 30px;
  background-color: var(--tertiary-color);
}

nav { 
  display: flex; 
  flex-wrap: wrap;
  padding-right: 20px;
}

header nav a {
  color: white;
  background-color: var(--tertiary-color);    
  font-size: 30px; 
  text-decoration: none;
  padding: 5px 5px 5px 5px;  
  margin-right: .75rem;    
  border: none;
  outline: none;
}

header div h1 {  
  color: white;
  background-color: var(--tertiary-color);
  font-size: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
}

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 12px;
}

section div.section-title{  
  width: 25%;
  border-right: 5px solid white;
  text-align: right;
  padding-right: 10px;
}

section div.section-title h3 {
  font-size: 40px;
  color: white;
}

section div.section-content {
  width: 75%;  
}

div.work-items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

div.work-items .item {  
  transition: .75s;
  opacity: 50%;
  background-color: grey;
  width: 49%;  
  height: 200px;
  outline: 5px solid var(--secondary-color);
}

div.work-items .item.item:hover {
  transition: .75s;
  opacity: 100%;
}

.item .tag{
  color: white;
  text-align: left;
  width: dynamic;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;  
  background-color: var(--primary-color);
  position: absolute;
}

.item .tag .title {
  background-color: var(--primary-color);  
  margin: 5px;
  font-size: 22px;
  font-weight: bolder;
  
}

.item .tag .subtitle {
  background-color: var(--primary-color);  
  margin: 5px;
  font-size: 18px;
}

div.work-items a {
  cursor: pointer;
}

div.work-items a.main-item {
  width: 100%;
}

div.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; 
}

div.contact-info a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 10px 15px 0;  
}


@media screen and (max-width: 1281px){
  div.work-items .item {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height:170px
  }
  section div.section-title h3 {
    font-size:20px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height:270px
  }

  .item .tag {
    width: 160px;
  }
  
  section {
    width:90%;
    flex-direction: column;   
  }

    section div.section-title {
    width: 100%;
    border-right: none;
    border-bottom: 5px solid white; 
    text-align: left;
  }
  
  section div.section-content {
    width: 100%;    
  }
  
  div.work-items div{
    width: 100%;
  }
  
  header nav a {
    padding: 0;
    border: none;
  }
  div.contact-info {
    display:flex;
    flex-direction: column;
  }
}

@media screen and (max-width:540px){  
          
  div.work-items .item {
    width: 100%;
  }
  section div.section-title h3 {
    font-size: 40px;    
  }

}
  @media screen and (max-width: 390px){

  .item .tag {
    width: 160px;
  }

  nav { 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 180px;
  }

}